body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    border-bottom: 2px solid #333;
    color: red; 
}
p {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
ul, ol {
    margin-left: 40px;
    padding: 10px;
}
li {
    margin-bottom: 10px;
}
.centered-content {
    text-align: center;
    margin: auto;
    width: 60%;
    border: 3px solid #333;
    padding: 10px;
}